.container
  .jumbotron
    h1 Happy Mountain Dog
    p Tailor-Made Dog Services and Training
    
  .row
    .col-md-4
      div(ng-include="'/partials/main/dog-services'")
    .col-md-8
      div(ng-include="'/partials/main/dog-courses'")
      
