.container
  .jumbotron
    h1 Positive Dog Training
    p Tailor-Made Dog-Training and Pet-Services in Utah Valley
    video#bgvid(autoplay='', loop='', poster='./images/2.jpg')
      source(src='./images/waterdogvid.mp4', type='video/mp4')
      source(src='./images/waterdogvid.ogv', type='video/ogv')
  .row
    .col-md-4
      div(ng-include="'/partials/main/dog-services'")
    .col-md-8
      div(ng-include="'/partials/main/dog-courses'")
      
