script(src="/vendor/jquery/dist/jquery.js")
script(src="/vendor/bootstrap/dist/js/bootstrap.js")
script(src="/vendor/toastr/toastr.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-resource/angular-resource.js")
script(src="/vendor/angular-route/angular-route.js")
script(src="/app/app.js")
script(src="/app/main/mvMainCtrl.js")
script(src="/app/account/mvNavBarLoginCtrl.js")
script(src="/app/account/mvIdentity.js")
script(src="/app/common/mvNotifier.js")
script(src="/app/account/mvAuth.js")
script(src="/app/account/mvUser.js")
script(src="/app/admin/mvUserListCtrl.js")
script(src="/app/admin/mvSignupCtrl.js")
script(src="/app/admin/mvEditCourseCtrl.js")
script(src="/app/admin/mvEditServiceCtrl.js")

script(src="/app/account/mvProfileCtrl.js")
script(src="/app/courses/mvCourseListCtrl.js")
script(src="/app/courses/mvCourse.js")
script(src="/app/courses/mvCourseDetailCtrl.js")
script(src="/app/services/mvServiceListCtrl.js")
script(src="/app/services/mvService.js")
script(src="/app/services/mvServiceDetailCtrl.js")
script(src="/app/reviews/mvReview.js")
script(src="/app/reviews/mvReviewCtrl.js")
